# Ignorar ambientes virtuais
venv/
env/

# Ignorar arquivos de cache do Python
__pycache__/
*.pyc

# Ignorar configurações de IDE (como PyCharm)
*.log
.idea/

# Ignorar logs e arquivos temporários

*.tmp

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db